body {
  font-family: charis sil;
}
/* jumbotron */
.jumbotron .container {
  position: relative;
  z-index: 3;
}
.jumbotron {
  background-image: url(img/artikeljumbotron.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
  position: relative;
  margin-top: 30px;
}
.jumbotron::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
  z-index: 2;
}
.jumbotron h1 {
  padding-top: 15%;
  text-shadow: 3px 3px white;
  z-index: 4;
}
/* artikel */
.artikel .card-body {
  background-color: #eec4ea;
}
.artikel .atas {
  margin-top: 70px;
}
.artikel .kedua {
  margin-top: 25px;
}
.artikel .thumbn {
  height: 200px;
}
/* footer */
footer .cpy {
  margin: 50px auto 0;
}
footer .cpy a {
  text-decoration: none;
}

/* RESPONSIVE BREAKPOINT */
@media (max-width: 991px) {
  .artikel .atas {
    margin-top: 15px;
  }
  .artikel .tah {
    margin-top: 25px;
  }
  .artikel .kedua {
    margin-top: 0;
  }
  .jumbotron {
    height: 300px;
  }
}
@media (max-width: 768px) {
  .jumbotron {
    height: 250px;
  }
}
@media (max-width: 600px) {
  .jumbotron {
    height: 200px;
  }
  footer .cpy {
    font-size: 13px;
  }
}
